## Assignment 1

Create a list of salaries

In [1]:
salaries = ['20k', '40k', '50k', '60k', '35k','89k', '40k']

1) What is the length of the salaries loist?

In [2]:
len (salaries)

7

2) Retrieve the third salary in the list by using index.

In [3]:
salaries [2]

'50k'

3) Extract the last salary from the list by using a negative index.

In [4]:
salaries[-1]

'40k'

4) Slice the salaries list to get only the middle three salaries.

In [5]:
salaries[2:5]

['50k', '60k', '35k']

5) Add a new salary to the list, '100k' by using append().

In [6]:
salaries.append('100k')

In [7]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

5) Add a new salary to the list, '120k' without method.

In [8]:
salaries = salaries + ['120k']

In [9]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

6) Replace the third salary in the list with '55k' and print the updated list.

In [10]:
salaries[2] = '55k'

In [11]:
salaries

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

7) Count how many times '40k' appears in the list

In [12]:
salaries.count('40k')

2

8) Insert a new salary at the second position.

In [13]:
salaries.insert (1, '30k')

In [14]:
salaries

['20k', '30k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

9) Reverse the orderof the salaries list with method

In [15]:
salaries.reverse()

In [16]:
salaries

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '30k', '20k']

10) Reverse the order of the salaries list without method.

In [19]:
salaries[::-1]

['20k', '30k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

End of Assingment